.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#video{
  width: 600px;
  height: 600px;
}

#storeVideo{
  width: 600px;
  height: 600px;
}

button{
  width: 100px;
  height: 40px;
}

